h1{
    text-align:center;
}

.introduction{
    text-align:left;
font-size: 25px;

}

.titler{
  
background-color: blue;
color:white;
font-size:20px;}

.project{
text-align:center;}

.experience{
text-align:center;}

.placeholder{
    
width:100px;}


