h1{
    font-family: 'Roboto Mono', monospace;
    text-align:center;
}

.introduction{
    text-align:left;
font-size: 25px;
    font-family: 'Anybody', cursive;

}

.titler{
  
background-color: blue;
color:white;
font-size:20px;}

.project{
text-align:center;}

.experience{
text-align:center;}

img{width:150px;}


.titlename{font-family: 'Poppins', sans-serif;
font-size:18px;}


.experience1{font-family: 'Prompt', sans-serif;
text-align:right;
font-size:13px;
color:red;}

.experience2{font-family: 'Prompt', sans-serif;
text-align:right;
font-size:13px;
color:red;}

.experience3{font-family: 'Prompt', sans-serif;
text-align:right;
font-size:13px;
color:red;}

.experience4{font-family: 'Prompt', sans-serif;
text-align:right;
font-size:13px;
color:red;}

.project{font-family: 'Rubik', sans-serif;}

.experience{font-family: 'Rubik', sans-serif;}


